{{> theme_boost/head }}

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_kmboost/navbar}}

    <div id="page" class="container-fluid">
        {{{ output.full_header }}}

        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">

                <div class="current-category">
                    <h3 class="currenct-category-title">Current category title</h3>
                    <img
                        class="current-category-image"
                        src="https://images.pexels.com/photos/37403/bora-bora-french-polynesia-sunset-ocean.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                        alt="category-image"
                    >
                </div>


                <div class="categories-wrapper">
                    <ul class="categories">
                        <li class="category">
                            <img
                                class="category-image"
                                src="http://wallpapers.ae/wp-content/uploads/2015/09/Maldives-sea-wallpaper.jpg"
                                alt="category-image"
                            >
                            <p class="category-label">Category label</p>
                        </li>
                        <li class="category">
                            <img
                                    class="category-image"
                                    src="http://wallpapers.ae/wp-content/uploads/2015/09/Maldives-sea-wallpaper.jpg"
                                    alt="category-image"
                            >
                            <p class="category-label">Category label</p>
                        </li>
                        <li class="category">
                            <img
                                    class="category-image"
                                    src="http://wallpapers.ae/wp-content/uploads/2015/09/Maldives-sea-wallpaper.jpg"
                                    alt="category-image"
                            >
                            <p class="category-label">Category label</p>
                        </li>
                        <li class="category">
                            <img
                                    class="category-image"
                                    src="http://wallpapers.ae/wp-content/uploads/2015/09/Maldives-sea-wallpaper.jpg"
                                    alt="category-image"
                            >
                            <p class="category-label">Category label</p>
                        </li>
                        <li class="category">
                            <img
                                    class="category-image"
                                    src="http://wallpapers.ae/wp-content/uploads/2015/09/Maldives-sea-wallpaper.jpg"
                                    alt="category-image"
                            >
                            <p class="category-label">Category label</p>
                        </li>
                        <li class="category">
                            <img
                                    class="category-image"
                                    src="http://wallpapers.ae/wp-content/uploads/2015/09/Maldives-sea-wallpaper.jpg"
                                    alt="category-image"
                            >
                            <p class="category-label">Category label</p>
                        </li>
                        <li class="category">
                            <img
                                    class="category-image"
                                    src="http://wallpapers.ae/wp-content/uploads/2015/09/Maldives-sea-wallpaper.jpg"
                                    alt="category-image"
                            >
                            <p class="category-label">Category label</p>
                        </li>
                    </ul>
                </div>




                {{#hasregionmainsettingsmenu}}
                    <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                        <div> {{{ output.region_main_settings_menu }}} </div>
                    </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}}>
                    <div class="card">
                        <div class="card-body">
                            {{#hasregionmainsettingsmenu}}
                                <div class="region_main_settings_menu_proxy"></div>
                            {{/hasregionmainsettingsmenu}}

                            {{{ output.main_content }}}
                            {{{ output.course_content_footer }}}
                        </div>
                    </div>
                </section>
                {{#hasblocks}}
                    <section data-region="blocks-column" class="d-print-none">
                        {{{ sidepreblocks }}}
                    </section>
                {{/hasblocks}}
            </div>
        </div>
    </div>
    {{> theme_boost/nav-drawer }}
</div>

{{> theme_kmboost/footer }}

</body>
</html>
{{#js}}
    require(['theme_boost/loader']);
    require(['theme_boost/drawer'], function(mod) {
    mod.init();
    });
{{/js}}
