{{> theme_boost/head }}

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_kmboost/navbar}}

    <div id="page" class="container-fluid">
        <div style = "display: none;">{{{ output.full_header }}}</div>

        <div id="page-content" class ="row">
            <div id="region-main-box" class="col-12">
                {{#hasregionmainsettingsmenu}}
                    <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                        <div> {{{ output.region_main_settings_menu }}} </div>
                    </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}}>
                    <div class="card">
                        <div class="card-body">
                            {{#hasregionmainsettingsmenu}}
                                <div class="region_main_settings_menu_proxy"></div>
                            {{/hasregionmainsettingsmenu}}


                            <div>
                                {{{mycoursescarusel}}}
                            </div>

                            {{{ output.main_content }}}

                            <div class="circle-list-wrapper">
                                <div class="contentwithoutlink circle-list">
                                    <a href="https://shiur4u.org/course/index.php?categoryid=1323" class="circle-link" style="display: inline-block">
                                        <div class="circle">
                                          <div class="circle-content">
                                              <p class="title">למידה תוך פתרון בעיות</p>
                                          </div>
                                        </div>
                                    </a>

                                    <a href="https://shiur4u.org/course/index.php?categoryid=1323" class="circle-link" style="display: inline-block">
                                        <div class="circle">
                                            <div class="circle-content">
                                                <img class="image" src="https://media.istockphoto.com/vectors/sleepy-puppy-and-young-woman-vector-id501279653" alt="image">
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://shiur4u.org/course/index.php?categoryid=1323" class="circle-link" style="display: inline-block">
                                        <div class="circle">
                                            <div class="circle-content">
                                                <p class="title">למידה תוך פתרון בעיות</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://shiur4u.org/course/index.php?categoryid=1323" class="circle-link" style="display: inline-block">
                                        <div class="circle">
                                            <div class="circle-content">
                                                <p class="title">למידה תוך פתרון בעיות</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://shiur4u.org/course/index.php?categoryid=1323" class="circle-link" style="display: inline-block">
                                        <div class="circle">
                                            <div class="circle-content">
                                                <img class="image" src="https://media.istockphoto.com/vectors/two-cats-vector-id496561951" alt="image">
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://shiur4u.org/course/index.php?categoryid=1323" class="circle-link" style="display: inline-block">
                                        <div class="circle">
                                            <div class="circle-content">
                                                <p class="title">למידה תוך פתרון בעיות</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://shiur4u.org/course/index.php?categoryid=1323" class="circle-link" style="display: inline-block">
                                        <div class="circle">
                                            <div class="circle-content">
                                                <p class="title">למידה תוך פתרון בעיות</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://shiur4u.org/course/index.php?categoryid=1323" class="circle-link" style="display: inline-block">
                                        <div class="circle">
                                            <div class="circle-content">
                                                <p class="title">למידה תוך פתרון בעיות</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://shiur4u.org/course/index.php?categoryid=1323" class="circle-link" style="display: inline-block">
                                        <div class="circle">
                                            <div class="circle-content">
                                                <img class="image" src="https://media.istockphoto.com/vectors/bear-penguin-vector-id166008009" alt="image">
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://shiur4u.org/course/index.php?categoryid=1323" class="circle-link" style="display: inline-block">
                                        <div class="circle">
                                            <div class="circle-content">
                                                <p class="title">למידה תוך פתרון בעיות</p>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="https://shiur4u.org/course/index.php?categoryid=1323" class="circle-link" style="display: inline-block">
                                        <div class="circle">
                                            <div class="circle-content">
                                                <img class="image" src="https://media.istockphoto.com/vectors/sleepy-puppy-and-young-woman-vector-id501279653" alt="image">
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://shiur4u.org/course/index.php?categoryid=1323" class="circle-link" style="display: inline-block">
                                        <div class="circle">
                                            <div class="circle-content">
                                                <p class="title">למידה תוך פתרון בעיות</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://shiur4u.org/course/index.php?categoryid=1323" class="circle-link" style="display: inline-block">
                                        <div class="circle">
                                            <div class="circle-content">
                                                <p class="title">למידה תוך פתרון בעיות</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://shiur4u.org/course/index.php?categoryid=1323" class="circle-link" style="display: inline-block">
                                        <div class="circle">
                                            <div class="circle-content">
                                                <img class="image" src="https://media.istockphoto.com/vectors/two-cats-vector-id496561951" alt="image">
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://shiur4u.org/course/index.php?categoryid=1323" class="circle-link" style="display: inline-block">
                                        <div class="circle">
                                            <div class="circle-content">
                                                <p class="title">למידה תוך פתרון בעיות</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://shiur4u.org/course/index.php?categoryid=1323" class="circle-link" style="display: inline-block">
                                        <div class="circle">
                                            <div class="circle-content">
                                                <p class="title">למידה תוך פתרון בעיות</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://shiur4u.org/course/index.php?categoryid=1323" class="circle-link" style="display: inline-block">
                                        <div class="circle">
                                            <div class="circle-content">
                                                <p class="title">למידה תוך פתרון בעיות</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://shiur4u.org/course/index.php?categoryid=1323" class="circle-link" style="display: inline-block">
                                        <div class="circle">
                                            <div class="circle-content">
                                                <img class="image" src="https://media.istockphoto.com/vectors/bear-penguin-vector-id166008009" alt="image">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            {{{ output.course_content_footer }}}
                        </div>
                    </div>
                </section>
                {{#hasblocks}}
                    <section data-region="blocks-column" class="d-print-none">
                        {{{ sidepreblocks }}}
                    </section>
                {{/hasblocks}}
            </div>
        </div>
    </div>
    {{> theme_boost/nav-drawer }}
</div>

{{> theme_boost/footer }}
</body>
</html>
{{#js}}
    require(['theme_boost/loader']);
    require(['theme_boost/drawer'], function(mod) {
    mod.init();
    });
{{/js}}
