<div class="container-fluid mycoursesslick">
  <div>
    <button id="mycoursesprev" class="btn-slider btn-slider-prev"/>
  </div>
  <div class="slider">
    {{#courses}}
      <div class="slider-item">
        <a href="/course/view.php?id={{{id}}}">
          <img src="{{{img}}}" class="img-responsive" />
          <h2>{{{title}}}</h2>
        </a>
      </div>
    {{/courses}}
  </div>
  <div>
    <button id="mycoursesnext" class="btn-slider btn-slider-next" />
  </div>
</div>
