/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

[dir="ltr"] .mycoursesslick .btn-slider-prev {
  background: url([[pix:theme_kmboost|slider-arrow-left-icon]]) no-repeat center center; }

[dir="ltr"] .mycoursesslick .btn-slider-next {
  background: url([[pix:theme_kmboost|slider-arrow-right-icon]]) no-repeat center center; }

[dir="rtl"] .mycoursesslick .btn-slider-prev {
  background: url([[pix:theme_kmboost|slider-arrow-right-icon]]) no-repeat center center; }

[dir="rtl"] .mycoursesslick .btn-slider-next {
  background: url([[pix:theme_kmboost|slider-arrow-left-icon]]) no-repeat center center; }

.mycoursesslick {
  border-top: 0.3px solid #491571;
  border-bottom: 0.3px solid #491571;
  height: 9.5em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 5em; }
  .mycoursesslick .slider {
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .mycoursesslick .slider .slick-list .slick-track {
      display: -ms-flexbox;
      display: flex; }
      .mycoursesslick .slider .slick-list .slick-track .slick-slide {
        width: 7.5em; }
        .mycoursesslick .slider .slick-list .slick-track .slick-slide .slider-item {
          border-left: 1px solid #491571; }
          .mycoursesslick .slider .slick-list .slick-track .slick-slide .slider-item a {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
                flex-direction: column;
            -ms-flex-align: center;
                align-items: center; }
            .mycoursesslick .slider .slick-list .slick-track .slick-slide .slider-item a img {
              border-radius: 50%;
              width: 50px;
              height: 50px;
              margin-bottom: 16px; }
            .mycoursesslick .slider .slick-list .slick-track .slick-slide .slider-item a h2 {
              font-size: 12px;
              color: #491571; }
  .mycoursesslick .btn-slider {
    width: 20px;
    height: 40px;
    border: none;
    margin: 0 2.5em;
    cursor: pointer;
    outline: none; }
    .mycoursesslick .btn-slider-prev {
      background: url([[pix:theme_kmboost|slider-arrow-left-icon]]) no-repeat center center; }
    .mycoursesslick .btn-slider-next {
      background: url([[pix:theme_kmboost|slider-arrow-right-icon]]) no-repeat center center; }

.pagelayout-frontpage {
  min-height: 100vh;
  height: auto;
  position: relative; }
  .pagelayout-frontpage #page-wrapper {
    margin-bottom: 0;
    padding-bottom: 210px;
    min-height: auto; }
    .pagelayout-frontpage #page-wrapper:after {
      display: none; }
    .pagelayout-frontpage #page-wrapper #region-main .card {
      border: none;
      min-height: auto; }
      .pagelayout-frontpage #page-wrapper #region-main .card .card-body {
        padding: 0; }
        .pagelayout-frontpage #page-wrapper #region-main .card .card-body [role='main'] {
          display: none; }

.circle-list-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 36px; }
  .circle-list-wrapper .circle-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (calc(107px - 6px))[6];
        grid-template-columns: repeat(6, calc(107px - 6px));
    -ms-grid-rows: calc(107px - 6px);
        grid-template-rows: calc(107px - 6px);
    padding-bottom: 50px; }
    .circle-list-wrapper .circle-list .circle-link:hover {
      text-decoration: none; }
    .circle-list-wrapper .circle-list .circle-link .circle {
      background: none;
      width: 107px;
      height: 107px;
      border: 6px solid;
      border-color: #491571 #491571 #00ddbf #00ddbf;
      border-radius: 50%;
      transform: rotate(45deg);
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      overflow: hidden;
      padding: 10px; }
      .circle-list-wrapper .circle-list .circle-link .circle-content {
        transform: rotate(-45deg);
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center; }
        .circle-list-wrapper .circle-list .circle-link .circle-content .title {
          font-size: 12px;
          font-weight: bold;
          color: #491571;
          margin: 0;
          text-align: center; }
        .circle-list-wrapper .circle-list .circle-link .circle-content .image {
          width: calc(107px - 20px);
          height: calc(107px - 20px);
          border-radius: 50%; }
    .circle-list-wrapper .circle-list .circle-link:nth-child(2n) .circle {
      border-color: #00ddbf #00ddbf #491571 #491571; }

.header-navbar .header1 .navbar {
  background: #491571;
  color: #fffff; }

.header-navbar .header1 .btn-menu {
  background: #491571;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  outline: none;
  box-shadow: none; }
  .header-navbar .header1 .btn-menu > i {
    font-size: 32px;
    width: auto;
    height: auto;
    color: #B3FC27; }

.header-navbar .header2 {
  position: relative;
  top: 50px;
  height: 62px;
  max-height: 62px;
  box-shadow: none;
  z-index: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0 15px; }
  .header-navbar .header2 .logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .header-navbar .header2 .tabs {
    display: -ms-flexbox;
    display: flex; }
    .header-navbar .header2 .tabs .navbar-nav {
      margin: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
      .header-navbar .header2 .tabs .navbar-nav .nav-item {
        white-space: nowrap; }
        .header-navbar .header2 .tabs .navbar-nav .nav-item a {
          color: #491571; }
  .header-navbar .header2 .user-settings {
    border-left: 1px solid #491571;
    margin: 15px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .header-navbar .header2 .user-settings .nav-item .usermenu .dropdown-toggle::after {
      display: none; }
    .header-navbar .header2 .user-settings .nav-item .usermenu .dropdown-toggle .userbutton {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
      -ms-flex-align: center;
          align-items: center; }
      .header-navbar .header2 .user-settings .nav-item .usermenu .dropdown-toggle .userbutton .usertext {
        color: #491571; }
      .header-navbar .header2 .user-settings .nav-item .usermenu .dropdown-toggle .userbutton .userpicture {
        border-radius: 0;
        width: 20px;
        height: 20px; }
    .header-navbar .header2 .user-settings .nav-item .usermenu .dropdown-toggle .caret {
      display: none; }

#nav-drawer {
  background: #F7F2FC;
  box-shadow: 0px 0px 23px 3px rgba(0, 0, 0, 0.3); }
  #nav-drawer .list-group .list-group-item {
    border: none;
    background: none;
    color: #491571; }
    #nav-drawer .list-group .list-group-item.active {
      background: #e4d6f2; }

#page-course-index-category .current-category {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }
  #page-course-index-category .current-category-title {
    margin-bottom: 30px; }
  #page-course-index-category .current-category-image {
    width: 100%;
    max-width: 664px; }

#page-course-index-category .categories-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 15px; }
  #page-course-index-category .categories-wrapper .categories {
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    max-width: 460px;
    padding: 0;
    margin: 0; }
    #page-course-index-category .categories-wrapper .categories .category {
      margin-right: 15px;
      max-width: 100px;
      overflow: hidden; }
      #page-course-index-category .categories-wrapper .categories .category-image {
        width: 100px;
        height: 100px; }
      #page-course-index-category .categories-wrapper .categories .category-label {
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }

#page-footer {
  color: #491571;
  position: absolute;
  bottom: 0;
  width: 100%; }
  #page-footer .container {
    width: 100%;
    max-width: 652px;
    border-top: 1px solid #491571;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
    #page-footer .container .links {
      display: -ms-flexbox;
      display: flex;
      margin: 35px 0 30px; }
      #page-footer .container .links .link {
        display: -ms-flexbox;
        display: flex;
        width: 40px;
        height: 40px;
        margin: 0 20px; }
        #page-footer .container .links .link-facebook {
          background: url([[pix:theme_kmboost|facebook-icon]]) no-repeat center center; }
        #page-footer .container .links .link-mail {
          background: url([[pix:theme_kmboost|mail-icon]]) no-repeat center center; }
        #page-footer .container .links .link-share {
          background: url([[pix:theme_kmboost|share-icon]]) no-repeat center center; }
    #page-footer .container .info {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center;
      margin-bottom: 50px; }
      #page-footer .container .info > p {
        margin-bottom: 5px; }
  #page-footer .btn-up {
    width: 26px;
    height: 26px;
    background: url([[pix:theme_kmboost|up-icon]]) no-repeat center center;
    position: absolute;
    right: 70px;
    top: 25%; }
  @media only screen and (min-width: 576px) and (max-width: 768px) {
  .circle-list-wrapper .circle-list {
    -ms-grid-columns: (calc(107px - 6px))[4];
    grid-template-columns: repeat(4, calc(107px - 6px)); } }
  @media only screen and (max-width: 576px) {
  .mycoursesslick {
    padding: 0;
    border-top: none; }
  .mycoursesslick .btn-slider {
    margin: 0 1em; }
  .circle-list-wrapper .circle-list {
    -ms-grid-columns: (calc(107px - 6px))[3];
    grid-template-columns: repeat(3, calc(107px - 6px)); }
  .header-navbar .header1 {
    border-bottom: 1px solid #491571; }
  .header-navbar .header1 .navbar {
    max-height: 42px;
    border-bottom: 1px solid #491571;
    padding: 0;
    box-shadow: none; }
  .header-navbar .header1 .navbar .btn-menu {
    margin-left: 4px; }
  .header-navbar .header2 {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1051;
    height: 41px;
    width: calc(100% - 48px);
    box-shadow: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0; }
  .header-navbar .header2 .logo {
    margin-left: 10px; }
  .header-navbar .header2 .user-settings {
    border: none; }
  #page-footer .container .info {
    margin-bottom: 20px; }
  #page-footer .container .info > p {
    margin-bottom: 5px;
    font-size: 10px; }
  #page-footer .btn-up {
    display: none; } }
