@import "../variables";

$image-size: 100px;
$image-margin: 15px;
$image-in-row: 4;

#page-course-index-category {
    #page-header {
        & > div {
            padding-top: 0 !important;
            padding-bottom: 20px !important;
        }
        .card {
            border: none;
            .card-body {
                padding: 0;
                margin-top: 20px;
                & > div:first-child {
                    display: none !important;
                }
                & > div:nth-child(2) {
                    #page-navbar {
                        .breadcrumb {
                            margin: 0;
                            .breadcrumb-item {
                                & > a {
                                    color: #9B9B9B;
                                    &:hover {
                                        color: #9B9B9B;
                                    }
                                    &:before {
                                        color: #9B9B9B;
                                    }
                                }
                            }
                        }
                    }
                    & > div:nth-child(2) {
                        display: none !important;
                    }
                }
            }
        }
    }
    #page-content {
        .current-category {
            display: flex;
            flex-direction: column;
            align-items: center;
            &-title {
                margin-bottom: 30px;
            }
            &-image {
                width: 100%;
                max-width: 664px;
                p {
                  text-align: center;
                }
            }
        }
        .categories-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
            .categories {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                max-width: $image-in-row * ($image-size + $image-margin);
                padding: 0;
                margin: 0;
                .category {
                    margin-right: $image-margin;
                    max-width: $image-size;
                    overflow: hidden;
                    &-image {
                        width: $image-size;
                        height: $image-size;
                    }
                    &-label {
                        font-size: 18px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: flex;
                        flex-direction: column;
                        &> span {
                          text-align: center;
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }
}
#page-course-index-category {
    #page-header {
        background-color: #fff;
    }
    #page-footer {
        max-height: 210px;
    }
    #page-wrapper {
        margin-bottom: 0;
    }
    .card {
        border: none;
    }
    #page-content {
        background-color: #fff;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        .categories-wrapper {
            .category_banner {
                // display: none;
               border: 1px solid #500c76;
                max-width: 664px !important;
                width: 664px;
                height: 180px;
                margin-bottom: 24px;
                .category {
                    max-width: 100%;
                    margin-right: 15px;
                }
                .category-image {
                    width: 100%;
                    height: 100%;
                }
            }
            .categories {
                max-width: 450px;
                .category.course {
                    list-style-type: none;
                    display: block;
                    width: 100px;
                    margin-bottom: 16px;
                    &:nth-of-type(4n) {
                        margin-right: 0;
                    }
                }
            }
            .course_link {
                display: block;
                width: 100%;
                height: auto;
                text-decoration: none;
                &:hover {
                    .course_name {
                        text-shadow: 0 0 1px black;
                    }
                }
            }
            .course_img {
                display: block;
                background-position: 50% 50%;
                background-size: cover;
                width: 100px;
                height: 100px;

            }
            .course_name {
                display: block;
                font-size: 18px;
                color: #000;
                font-weight: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
                white-space: pre;

            }
        }
    }
}
