@import "../variables";

.header-navbar {
  .header1 {
    .navbar {
      background: $primary-color;
      color: $white;
    }
    .btn-menu {
      background: $primary-color;
      border: none;
      padding: 0;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      box-shadow: none;
      &>i {
        font-size: 32px;
        width: auto;
        height: auto;
        color: #B3FC27;
      }
    }
  }
  .header2 {
    position: relative;
    top: $header1-height;
    height: $header2-height;
    max-height: $header2-height;
    box-shadow: none;
    z-index: 2;
    .tabs {
      .navbar-nav {
        margin: 0;
        .nav-item {
          a {
            color: $primary-color;
          }
        }
      }
    }
    .user-settings {
      border-left: 1px solid $primary-color;
      margin: 0;
      .nav-item {
        .usermenu {
          .dropdown-toggle {
            &::after {
              display: none;
            }
            .userbutton {
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              .usertext {
                color: $primary-color;
              }
              .userpicture {
                border-radius: 0;
                width: 20px;
                height: 20px;
              }
            }
            .caret {
              display: none;
            }
          }
        }
      }
    }
  }
}
