@import "../variables";

.header-navbar {
  .header1 {
    .navbar {
      background: $primary-color;
      color: $white;
      &-brand {
        .logo {
          display: none !important;
        }
        .site-name {
          display: none !important;
        }
      }
    }
    .btn-menu {
      background: $primary-color;
      border: none;
      padding: 0;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      box-shadow: none;
      &>i {
        font-size: 32px;
        width: auto;
        height: auto;
        color: #B3FC27;
      }
    }
  }
  .header2 {
    position: relative;
    top: $header1-height;
    height: $header2-height;
    max-height: $header2-height;
    box-shadow: none;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    border-bottom: 1px solid $primary-color;
    .logo {
      display: flex;
      align-items: center;
    }
    .tabs {
      display: flex;
      .navbar-nav {
        margin: 0;
        display: flex;
        align-items: center;
        .nav-item {
          white-space: nowrap;
          a {
            color: $primary-color;
          }
        }
      }
    }
    .user-settings {
      border-left: 1px solid $primary-color;
      margin: 15px 0;
      display: flex;
      align-items: center;
      .nav-item {
        .usermenu {
          .dropdown-toggle {
            &::after {
              display: none;
            }
            .userbutton {
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              .usertext {
                color: $primary-color;
              }
              .userpicture {
                border-radius: 0;
                width: 20px;
                height: 20px;
              }
            }
            .caret {
              display: none;
            }
          }
        }
      }
    }
  }
}

.notloggedin {
  .header2 {
    .user-settings {
      border: none;
      .usermenu {
        display: none;
      }
    }
  }
}

@media #{$is-mobile} {
  .header-navbar {
    .header1 {
      border-bottom: 1px solid #491571;
      .navbar {
        max-height: 42px;
        border-bottom: 1px solid $primary-color;
        padding: 0;
        box-shadow: none;
        .btn-menu {
          margin-left: 4px;
        }
      }
    }
    .header2 {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1051;
      height: 41px;
      width: calc(100% - 48px);
      box-shadow: none;
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      border: none;
      .logo {
        margin-left: 10px;
      }
      .user-settings {
        border: none;
      }
    }
  }
}
